<form action="#" method="post">
	<h2>Mande um Zap!</h2>
	<input type="text" name="nome" class="form-control" placeholder="Nome completo" required="">
	<input type="text" name="celular" class="form-control" placeholder="Número do celular" required="">
		<input type="text" name="mensagem" class="form-control" placeholder="Mensagem" required="">
	<!-- <input type="email" name="email" class="form-control" placeholder="Endereço de e-mail" required=""> -->
	<!-- <input type="password" name="password" class="form-control" placeholder="senha" required=""> -->
	<button class="submit-btn form-control" id="form-submit">Enviar</button>
</form>