<% @categorias.each do |categoria| %>
<% @contador += 1 %>
<div>
	<input id="label-<%= @contador.to_s %>" name="lida" type="radio" checked/>
	<label for="label-<%= @contador.to_s %>" id="item<%= @contador.to_s %>"><i class="ferme"> </i><%= categoria.name.pluralize.titleize %><i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
	<div class="content" id="a<%= @contador.to_s %>">
		<div class="scrollbar" id="style-2">
			<div class="force-overflow">
				<% produtos = Product.habilitados.where(product_category_id: categoria.id) %>
				<% produtos.each do |produto| %>
					<% tipo = produto.product_category.name %>
					<% if ["pizza","caldo","porção"].include?(tipo) then %>
						<% precos_pizzas = produto.pizza_types %>
						<% precos_caldos = produto.broth_types %>
						<% precos_porcoes = produto.appettizer_types %>
						<% precos = precos_pizzas unless precos_pizzas.empty? %>
						<% precos = precos_caldos unless precos_caldos.empty? %>
						<% precos = precos_porcoes unless precos_porcoes.empty? %>
						<% if not precos.nil? %>
						<% precos.each do |preco| %>
							<ul class="news_list">
								<li class="date">
									<!-- <img src="images/s1.jpg" class="img-responsive" alt=""/> -->
									<%= cl_image_tag(produto.image.key,class:"img-responsive", :transformation=>[{:width=>100,:height=>50,:crop=>"pad"}]) %>
								</li>
								<li class="date_desc">
									<% if ["caldo","porção"].include?(tipo) then %>
										<% if ["meio","meia"].include?(preco.size)  %>
											<h5><%= preco.size.titleize + " " + produto.name.titleize  %></h5>
										<% end %>
										<% if ["grande"].include?(preco.size) %>
											<h5><%= produto.name.titleize + " " + preco.size.titleize %></h5>
										<% end %>
									<% else %>
										<h5><%= produto.name.titleize + " " + preco.size.titleize  %></h5>
									<% end %>
									<p>R$ <%= preco.price.to_s.sub '.', ',' %></p>
								</li>
								<div class="clearfix"> </div>
							</ul>
						<% end %>
						<% end %>
					<% else %>
					<ul class="news_list">
						<li class="date">
							<%= cl_image_tag(produto.image.key,class:"img-responsive", :transformation=>[{:width=>100,:height=>50,:crop=>"pad"}]) %>
						</li>
						<li class="date_desc">
							<h5><%= produto.name.titleize  %></h5>
							<p>R$ <%= produto.price.to_s.sub '.', ',' %></p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
<!-- <div>
	<input id="label-2" name="lida" type="radio"/>
	<label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Poções<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
	<div class="content" id="a2">
		<div class="scrollbar" id="style-2">
			<div class="force-overflow">
				<ul class="news_list">
					<li class="date">
						<img src="images/s1.jpg" class="img-responsive" alt=""/>
					</li>
					<li class="date_desc">
						<h5>1. Menu</h5>
						<p>Bacon and eggs , pancakes , Olive Oil ..</p>
					</li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="news_list">
					<li class="date">
						<img src="images/s2.jpg" class="img-responsive" alt=""/>
					</li>
					<li class="date_desc">
						<h5>2. Menu</h5>
						<p>Bacon and eggs , pancakes , Olive Oil ..</p>
					</li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="news_list">
					<li class="date">
						<img src="images/s3.jpg" class="img-responsive" alt=""/>
					</li>
					<li class="date_desc">
						<h5>3. Menu</h5>
						<p>Bacon and eggs , pancakes , Olive Oil ..</p>
					</li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="news_list">
					<li class="date">
						<img src="images/s4.jpg" class="img-responsive" alt=""/>
					</li>
					<li class="date_desc">
						<h5>4. Menu</h5>
						<p>Bacon and eggs , pancakes , Olive Oil ..</p>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</div>
		</div>
	</div>
</div>
 -->