<% @categorias.each do |categoria| %>
<% if not ["refrigerante"].include?(categoria.name.downcase) then %>
	<span class="label label-danger"><a href="#ingredientes"><%= categoria.name.pluralize.titleize %></a></span>
<% end %>
<% end %>
<script>
	$('a[href="#ingredientes"]').click(function(){
		var t = $(this).text();
		$.ajax({
        url:'/home/listar_produtos',
        type:'get',
        dataType:'html',
        data:{
            id: t,
        },
        success:function(data){
        	 $("#cardapio").empty();
            $("#cardapio").append(data);
        },
        error:function(data){
            alert('error');
        }
    });
	});
</script>
<script>
(function(){
    var t = "todos";
    $.ajax({
        url:'/home/listar_produtos',
        type:'get',
        dataType:'html',
        data:{
            id: t,
        },
        success:function(data){
            $("#cardapio").empty();
            $("#cardapio").append(data);
        },
        error:function(data){
            alert('error');
        }
    });
})();
</script>
<br>
<br>
<div id="cardapio">
</div>