<% @comemoracoes.each do |comemoracao| %>
<div class="col-md-4">
	<div class="row_1">
		<h3><%= t comemoracao.data.strftime("%A") %></h3> 
		<h4><%= comemoracao.data.day %></h4>
		<h3><%= comemoracao.data.strftime("%B") %></h3> 
		<div class="border"> </div>
		<h5><%= comemoracao.title.titleize %></h5>	
	</div>
</div>
<% end %>
<!-- 
############################################################################
<div class="col-md-5 row_2">
	<img src="images/pic9.jpg" class="img-responsive" alt=""/>
	<ul class="cake_hover">
		<li><a href="#"> <i class="fb"> </i>Share </a><div class="clearfix"> </div></li>
		<li><a href="#"> <i class="tw"> </i>Share </a><div class="clearfix"> </div></li>
	</ul>
</div>
############################################################################
-->	