<% contador = 0 %>
<% @fotos.each do |foto| %>
<div class="gallery_box">
    <div class="col_1_of_5 span_1_of_5 grid_3">
	    <!-- <img src="images/g1.jpg" class="img-responsive" alt="" id="galeria"/> -->
        <%=
        contador += 1
        cl_image_tag(foto.image.key,class:"img-responsive", id:"galeria#{contador}", :transformation=>[{:width=>700,:height=>700,:crop=>"scale"}])
        %>
	</div>
</div>
<% end %>
<div class="clearfix"> </div>
<div id="myModal" class="modal">
  <!-- <span class="close">&times;</span> -->
  <img class="modal-content" id="img01">
</div>

<script>
// var span = document.getElementsByClassName("close")[0];
var span = document.getElementsByClassName("modal")[0];
span.onclick = function() {
  modal.style.display = "none";
}
var modal = document.getElementById('myModal');
var imgs = document.getElementsByClassName('img-responsive');
var img = new Array();
var cont = 0;
for (var k in imgs) {
    if (imgs[k].id.includes("galeria")){
        cont++;
        img[cont] = document.getElementById(imgs[k].id);
        var modalImg = document.getElementById("img01");
        img[cont].onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
        }
    }

}

</script>
