<h1 class="tz-title-4 tzcolor-blue">
	<span class="tzweight_Bold">Espaço & Serviço</span>
</h1>
<div class="section_group">
	<% @informacoes.each do |informacao| %>
 		<div class="col-xs-12 col-md-3 col-sm-3">
			<div class="col_1">
				 <!-- <img src="images/pic5.jpg" class="img-responsive" alt=""/></div> -->
			<%= cl_image_tag(informacao.image.key,class:"img-responsive", :transformation=>[{:width=>300,:height=>155,:crop=>"scale"}]) %>
			</div>
			<div class="desc">
				<h3><a href=""><%= informacao.title.titleize %></a></h3>
				<p><%= informacao.description %></p>
			</div>
		</div>
	<% end %>
	<div class="clearfix"> </div>
</div>




