<div class="header" id="home">
	<div class="container">
		<div class="logo">
			<img src="images/logo1.png" id="audio-player"/>
		</div>
	</div>
</div>
<script>
</script>
<div class="header-home">
	<div class="container">
		<div class="fixed-header">
			<div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="">Menu</a>
				<ul class="nav">
					<li class="active"><a href="#home" class="scroll">Inicio</a></li>
					<li><a href="#announce" class="scroll">Nosso Espaço</a></li>
					<li><a href="#menu" class="scroll">Cardapio</a></li>
					<li><a href="#gallery" class="scroll">Galeria</a></li>
					<li><a href="#about" class="scroll">Sobre nós</a></li>
					<li><a href="#contact" class="scroll">Contato</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
							if ($(window).width() <= 800) {
								$(".toggleMenu").trigger("click");
							}
						});
					});
				</script>
				<!--script-->
				<script>
					$(document).ready(function(){
						$(".nav li a").click(function(){
							$(this).parent().addClass("active");
							$(this).parent().siblings().removeClass("active");
						});
					});
				</script>
				<!-- script-for sticky-nav -->
				<script>
					$(document).ready(function() {
						var navoffeset=$(".header-home").offset(100).top;
						$(window).scroll(function(){
							var scrollpos=$(window).scrollTop();
							if(scrollpos >=navoffeset){
								$(".header-home").addClass("fixed");
							}else{
								$(".header-home").removeClass("fixed");
							}
						});

					});
				</script>
				<!-- /script-for sticky-nav -->
			</div><!-- end h_menu4 -->
		</div>
	</div>
</div>
<div class="main">
	<div class="container">
		<div class="announce" id="announce">
			<%= render partial: "home/informacao" %>
		</div>
		<div class="menu" id="menu">
			<h2 class="tz-title-2">
				<span class="tzweight_Bold">Cardapio</span>
			</h2>
			<div class="grid_1">
				<div class="box_1">
					<div class="col-md-3 menu_left">
						<div class="menu_vertical">
							<section class="accordation_menu">
								<%= render partial: "home/cardapio_a" %>
							</section>
						</div>
					</div>
					<div class="col-md-9 menu_right">
						<%= render partial: "home/cardapio_b" %>
					</div>
					<div class="clearfix"> </div>
				</div>
				<h2 class="tz-title-3">
					<span class="tzweight_Bold">Comemorações</span>
				</h2>
				<div class="box_2">
					<%= render partial: "home/comemoracoes" %>
					<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="gallery" id="gallery">
				<h3 class="tz-title-2">
					<span class="tzweight_Bold">Galeria</span>
				</h3>
				<div class="gallery_box">
					<%= render partial: "home/galeria" %>
				</div>
			</div>
			<!-- original -->
			<!-- <div class="about" id="about">
				<h3 class="tz-title-2">
					<span class="tzweight_Bold">Sobre nós</span>
				</h3>
				<div class="about_desc">
					<div class="logo_2">
						<img src="/images/logo_banner.png" alt=""/>
						<br>
					</div>
					Tirar exclamação <p><br><!%= @sobre.text if not @sobre.nil? %></p>
				</div>
			</div>
			 --><!-- fim original -->

			<!-- Ini alteração -->
			<div class="about" id="about">
				<h3 class="tz-title-2">
					<span class="tzweight_Bold">Sobre nós</span>
				</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<%=
								cl_image_tag("banner_sobre_right_tcb9gm_aiyr3k",class:"img-responsive", :transformation=>[{:width=>550,:height=>255,:crop=>"crop"}],:border => { :width => 4, :color => 'white' })
							%>
							<!-- <img src="/images/banner_sobre_right.png" alt=""/> -->
  						</div>
  						<div class="col-sm-6">
  							<div class="about_desc">
								<p><br><%= @sobre.text if not @sobre.nil? %></p>
								<p><br><h3><font color="white">Horário de Atendimento</font></h3></p>
								<p>De Segunda à Sábado das 18h00 às 00h00.</p>
							</div>
  						</div>
  					</div>
				</div>
				<br>
			</div>
			<!-- fim alteração -->
			<div class="contact" id="contact">
				<h3 class="tz-title-2">
					<span class="tzweight_Bold">Contato</span>
				</h3>
				<div class="contact_box">
					<% if flash[:success] %>
  						<div class="alert alert-success">
    						<%= flash[:success] %>
  						</div>
					<% end %>

					<% if flash[:alert] %>
  						<div class="alert alert-danger">
    						<%= flash[:alert] %>
  						</div>
					<% end %>
					<div class="col-md-6 contact_form">
						<form action="/home/enviar_mensagem" method="post">
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<div class="column_2">
								<input name="contact[name]" type="text" class="text" value="Nome Completo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
								<input name="contact[email]" type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:2.7%">

							</div>
							<div class="column_3">
								<textarea name="contact[message]" value="Menssagem:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Menssagem:</textarea>
							</div>
							<div class="form-submit1">
								<label class="btn btn-primary btn-normal btn-inline " target="_self"><input type="submit" value="Enviar"></label>
							</div>
							<div class="clearfix"> </div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="map">
							<div style="overflow:hidden;width: 100%;position: relative;"><iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d965.4975691996893!2d-52.79027541192317!3d-14.542548699361836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9372031dd749ad31%3A0x31791540bc7ef626!2sLanchonete+Eclipse!5e0!3m2!1spt-BR!2sbr!4v1548728928179" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div><br />
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="copy">
				<p>Campinapolis.com © 2018 <a href="https://campinapolis.com/" target="_blank"> ir para o site</a> </p>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear'
			 		};
			 		*/
			 		$().UItoTop({ easingType: 'easeOutQuart' });
			 	});
			 </script>
			 <a class="scroll" href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>