<% contador = 0 %>
<% @produtos.each do |produto| %>
<% contador =+ 1 %>
<div class="grid_2">
	<div class="col_1_of_3 span_1_of_3">
		<!-- <img src="" class="img-responsive" alt=""/> -->
		<%= cl_image_tag(produto.image.key, :transformation=>[{:width=>270,:height=>342,:angle=>"auto_right",:border=>"4px_solid_red",:crop=>"pad"}]) %><div class="menu_list">
			<h3><%= produto.name.titleize %></h3>
			<p>Ingredientes</p>
			<% if not produto.description.empty? %>
				<ul class="list1">
					<%= produto.description %>
				</ul>
				<hr>
			<% end %>
			<ul class="list1">
				<% produto.tags.each do |ingrediente| %>
					<li><%= ingrediente.name %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<% end %>
