<% if @refresh == true  %>
	<% @refresh = false %>
	<script>
		window.location.href = "https://eclipse.campinapolis.com/pagar";
	</script>
<% end %>
<% pagamentos = @pagamentos ||= [] %>
<% pagamentos.each do |pagamento| %>
<%
color = 'blue' if pagamento.enum_status == "pago"
color = 'orange' if pagamento.enum_status == "aguardando"
color = 'red' if pagamento.enum_status == "em debito"
url = pagamento.mp_url if pagamento.enum_status == "em debito"
url = "" if pagamento.enum_status != "em debito"
%>
<a mp-mode="dftl" href="<%= url %>" name="MP-payButton" class='<%= color %>-ar-l-ov-brall'>
<% if pagamento.enum_status == "pago" %>
	O mês de <%= Date::MONTHNAMES[pagamento.monthy]+'/'+pagamento.year.to_s %> está pago</a>
<% end %>
<% if pagamento.enum_status == "aguardando" %>
	Aguardando pagamento do mês <%= Date::MONTHNAMES[pagamento.monthy]+'/'+pagamento.year.to_s %></a>
<% end %>
<% if pagamento.enum_status == "em debito" %>
	Pagar o mês de <%= Date::MONTHNAMES[pagamento.monthy]+'/'+pagamento.year.to_s %></a>
<% end %>
<% end %>

<!-- 
<a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=96821924-43623c73-83a9-4d2a-976f-1a258df0e810" name="MP-payButton" class='red-ar-l-ov-brall'>Pagar mês de Fevereiro/2019</a> -->



<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>