<script>
function carrega_caixa(){
  var categoria = $("#product_product_category_id option:selected").text();
  if (categoria.toLowerCase().indexOf("pizza") >= 0){
    $('#product_pizza_type_ids_field').show();
    $('#product_broth_type_ids_field').hide();
    $('#product_appettizer_type_ids_field').hide();
    $('#product_price_field').hide();
  }else{
    if (categoria.toLowerCase().indexOf("caldo") >= 0){
      $('#product_broth_type_ids_field').show();
      $('#product_pizza_type_ids_field').hide();
      $('#product_appettizer_type_ids_field').hide();
      $('#product_price_field').hide();
    }else{
      if (categoria.toLowerCase().indexOf("porção") >= 0){
        $('#product_appettizer_type_ids_field').show();
        $('#product_pizza_type_ids_field').hide();
        $('#product_broth_type_ids_field').hide();
        $('#product_price_field').hide();
      }else{
        $('#product_appettizer_type_ids_field').hide();
        $('#product_broth_type_ids_field').hide();
        $('#product_pizza_type_ids_field').hide();
        $('#product_price_field').show();
      }
    }
  }
}
</script>

<script>
$('document').ready(function(){
  $('select').on('change', carrega_caixa);
  $('select').trigger('change');
  setTimeout(function(){
    $('.ra-multiselect-header.ui-helper-clearfix').hide();
    $('.ra-multiselect-column.ra-multiselect-left').hide();
    $('.ra-multiselect-column.ra-multiselect-center').hide();
  },1);
})
</script>
<%= render partial: "rails_admin/main/#{p}",:locals => {:field => field, :form => form} %>