<input name=product[price] class="form-control" type="text" id="product_price"/>
<script>
$('document').ready(function() {
	$(function() {
 		$('#product_price').maskMoney({prefix:'R$ ',allowNegative: false,affixesStay: false,thousands:'.', decimal:'.'});
	})
	$(function() {
		$('#product_price').maskMoney('mask',<%= @object.price %>);
	})
	$(function() {
		$('#product_price').focus();
		$('#product_name').focus();
	})
	
})
</script>