<input value="" class="form-control" type="text" name="pizza_type[price]" id="pizza_type_price">
<script>
$('document').ready(function() {
	$(function() {
 		$('#pizza_type_price').maskMoney({prefix:'R$ ',allowNegative: false,affixesStay: false,thousands:'.', decimal:'.'});
	})
	$(function() {
		$('#pizza_type_price').maskMoney('mask',<%= @object.price %>);
	})
	$(function() {
		$('#pizza_type_price').focus();
		$('#pizza_type_size').focus();
	})

})
</script>