  <!DOCTYPE html>
  <html lang="pt-br" class="no-js">
  <head>
  <title>Eclipse | Lanchonete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Yemekhane Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <script src="js/jquery-1.11.1.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/clndr.css" type="text/css" />
  <script src="js/site.js"></script>
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <%= favicon_link_tag asset_path('fav.png') %>
</head>
  <body>
    <audio id="audio" src="audio/som.mp3" preload></audio>
    <%= yield %>
    <script src="js/audio-hover.js"></script>
  </body>
</html>
